body {
  padding: 30px;
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: right;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.logo_img {
  width: 100px;
}

.info_img {
  width: 50%;
}

.color_section {
  display: inline-block;
  width: 350px;
  height: 350px;
}

.color_section_default {
  background:
      linear-gradient(120deg, #db4e9c, rgba(255,0,0,0) 70.71%),
      linear-gradient(240deg, #b9cf50, rgba(255,0,0,0) 70.71%),
      linear-gradient(360deg, #f15b5b, rgba(255,0,0,0) 70.71%);
}

.input_color_section {
  display: inline-block;
  width: 350px;
  height: 350px;
}

.input_section {
  text-align: center;  
}

.logo_area {
  text-align: right;
}

.color_area {
  padding-bottom: 30px;
  text-align: center;
}

input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
}

.body_wrapper { 
  position: relative; 
} 

.body_content {
  padding-bottom: 50px;
  text-align: center;
} 
.footer {
  width:100%;
  height:50px;
  position:fixed;
  bottom:0;
  font-size: 15px;
  /* text-align: center; */
}

